# CS Education

Mental Mathematics - year 3/4 (2)

In [4]:
import random
import pandas as pd

### Unit 1

Prompt: 帮我出一些小学数学题，例如：题目是 3 * (?) = 30, 选项有4个，分别是 (A) 8; (B) 9; (C) 10; (D) 11; 答案是 C。用 python 实现自动生成这样的数学题。

In [5]:
# 40 个题目，限时 5 分钟
def generate_math_multiplication_u1():
    multiplier = random.randint(2, 12)  # 随机选择一个乘数
    answer = random.randint(2, 12)  # 随机选择一个被乘数
    result = multiplier * answer  # 计算结果
    
    options = set([answer])
    while len(options) < 4:
        wrong_answer = random.randint(2, 12)
        if wrong_answer != answer:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(answer)]  # 找到正确答案的选项
    
    question = f"{multiplier} * (?) = {result}"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [6]:
data = [generate_math_multiplication_u1() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

        Question  Option_A  Option_B  Option_C  Option_D Answer
0   4 * (?) = 44         8         7        11        12      C
1   6 * (?) = 24         8        11         4        12      C
2   5 * (?) = 50         5         8        11        10      D
3  12 * (?) = 96        10         8         2         3      B
4   2 * (?) = 18         9         4        10         2      A

### Unit 2

In [7]:
def generate_math_multiplication_u2():
    multiplier = random.randint(10, 99)  # 两位数乘数
    answer = random.randint(2, 9)  # 一位数乘数
    result = multiplier * answer  # 计算结果
    
    options = set([result])
    while len(options) < 4:
        wrong_answer = random.randint(multiplier * 1, multiplier * 9)
        if wrong_answer != result:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(result)]  # 找到正确答案的选项
    
    question = f"{multiplier} * {answer} = ?"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [9]:
data = [generate_math_multiplication_u2() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

     Question  Option_A  Option_B  Option_C  Option_D Answer
0  63 * 7 = ?       349       559       441       474      C
1  31 * 9 = ?       279       190       179        58      A
2  32 * 7 = ?       107       224        53       211      B
3  97 * 4 = ?       388       584       395       255      A
4  56 * 8 = ?       343       338       448       443      C

### Unit 3

In [10]:
def generate_math_multiplication_u3():
    multiplier1 = random.randint(10, 99)  # 任意两位数
    multiplier2 = random.choice([10, 20, 30, 40, 50, 60, 70, 80, 90])  # 选择个位数是0的整数
    result = multiplier1 * multiplier2  # 计算结果
    
    options = set([result])
    while len(options) < 4:
        wrong_answer = random.randint(100, 9900)  # 生成错误答案
        if wrong_answer != result:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(result)]  # 找到正确答案的选项
    
    question = f"{multiplier1} * {multiplier2} = ?"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [11]:
data = [generate_math_multiplication_u3() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

      Question  Option_A  Option_B  Option_C  Option_D Answer
0  49 * 30 = ?      1470      8809      3861       381      A
1  13 * 80 = ?      4714      6227      3674      1040      D
2  61 * 70 = ?      7119      6899      4270      7086      C
3  56 * 90 = ?      7968      5040      5987      5293      B
4  27 * 50 = ?      1350      7305       333      8454      A

### Unit 4

Prompt: 再帮我出一些小学数学题，例如：题目是两位小数相加，例如： 4.59 + 2.68 = 7.27, 选项有4个，三个干扰选项，一个答案; 答案是 B。用 python 实现自动生成这样的数学题。题目包括三种类型，一位小数相加，两位小数相加，三位小数相加，一位小数加两位小数，一位小数加三位小数，两位小数加三位小数。

In [21]:
def generate_math_add_decimal_u4():
    decimal_types = [
        (1, 1), (2, 2), (3, 3), (1, 2), (1, 3), (2, 3)  # 不同的小数类型
    ]
    decimal_places1, decimal_places2 = random.choice(decimal_types)
    
    num1 = round(random.uniform(1, 99), decimal_places1)
    num2 = round(random.uniform(1, 99), decimal_places2)
    result = round(num1 + num2, max(decimal_places1, decimal_places2))
    
    options = set([result])
    while len(options) < 4:
        wrong_answer = round(random.uniform(result - 5, result + 5), max(decimal_places1, decimal_places2))
        if wrong_answer != result:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(result)]  # 找到正确答案的选项
    
    question = f"{num1} + {num2} = ?"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [22]:
data = [generate_math_add_decimal_u4() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

            Question  Option_A  Option_B  Option_C  Option_D Answer
0   12.0 + 86.91 = ?     97.18   100.280   102.220     98.91      D
1  10.0 + 41.664 = ?     49.87    51.664    47.919     47.98      B
2   9.83 + 29.26 = ?     39.09    42.830    40.250     40.56      A
3   38.7 + 34.97 = ?     73.67    71.740    77.940     77.10      A
4  53.47 + 94.08 = ?    147.55   145.120   143.680    143.33      A

### Unit 5

Prompt: 再帮我出一些小学数学题，例如：题目是两位小数减，例如： 4.79 - 2.68 = 2.11, 选项有4个，三个干扰选项，一个答案; 答案是 B。用 python 实现自动生成这样的数学题。题目包括三种类型，一位小数相减，两位小数相减，三位小数相减，一位小数减两位小数，一位小数减三位小数，两位小数减三位小数。 要求结果不可以是负数。

In [19]:
def generate_math_subtract_decimal_u5():
    decimal_types = [
        (1, 1), (2, 2), (3, 3), (1, 2), (1, 3), (2, 3)  # 不同的小数类型
    ]
    decimal_places1, decimal_places2 = random.choice(decimal_types)
    
    num1 = round(random.uniform(1, 99), decimal_places1)
    num2 = round(random.uniform(1, num1), decimal_places2)  # 确保结果不为负数
    result = round(num1 - num2, max(decimal_places1, decimal_places2))
    
    options = set([result])
    while len(options) < 4:
        wrong_answer = round(random.uniform(result - 5, result + 5), max(decimal_places1, decimal_places2))
        if wrong_answer != result and wrong_answer >= 0:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(result)]  # 找到正确答案的选项
    
    question = f"{num1} - {num2} = ?"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [20]:
data = [generate_math_subtract_decimal_u5() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

             Question  Option_A  Option_B  Option_C  Option_D Answer
0     90.4 - 54.1 = ?    36.300    31.400    40.300    41.200      A
1    53.6 - 32.77 = ?    18.780    18.390    20.830    23.630      C
2    27.5 - 25.95 = ?     2.620     1.660     1.550     5.540      C
3  36.25 - 35.988 = ?     3.369     0.382     0.262     1.431      C
4     6.3 - 5.069 = ?     0.884     4.128     1.231     3.928      C

### Unit 6

prompt 再帮我出一些小学数学题，小数乘以一位整数，题目包括三种类型，一位小数乘以整数，两位小数乘以整数，三位小数乘以整数。

In [23]:
def generate_math_mul_u6():
    decimal_types = [1, 2, 3]  # 一位、两位、三位小数
    decimal_places = random.choice(decimal_types)
    
    num1 = round(random.uniform(1, 99), decimal_places)  # 生成小数
    num2 = random.randint(1, 9)  # 生成一位整数
    result = round(num1 * num2, decimal_places)  # 计算结果
    
    options = set([result])
    while len(options) < 4:
        wrong_answer = round(random.uniform(result - 10, result + 10), decimal_places)
        if wrong_answer != result and wrong_answer >= 0:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(result)]  # 找到正确答案的选项
    
    question = f"{num1} × {num2} = ?"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [24]:
data = [generate_math_mul_u6() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

         Question  Option_A  Option_B  Option_C  Option_D Answer
0   52.37 × 8 = ?   412.570   418.960   422.150   427.110      B
1  13.121 × 6 = ?    81.358    70.033    78.726    81.499      C
2   52.31 × 7 = ?   357.240   365.440   360.320   366.170      D
3   2.368 × 7 = ?    23.094     6.732    18.371    16.576      D
4   25.72 × 7 = ?   173.530   189.430   184.380   180.040      D

### Unit 7

Prompt 再帮我出一些小学数学题，整数除以一位整数，题目包括两种类型，一位整数除以以一位整数，两位整数乘以一位整数，0除以一位整数。要求结果也是整数。

In [25]:
def generate_math_div_u7():
    question_types = ["one_digit", "two_digit", "zero_div"]
    question_type = random.choice(question_types)
    
    if question_type == "one_digit":
        num2 = random.randint(1, 9)  # 生成一位整数
        num1 = num2 * random.randint(1, 9)  # 确保结果是整数
    elif question_type == "two_digit":
        num2 = random.randint(1, 9)
        num1 = num2 * random.randint(10, 99)  # 确保两位整数除以一位整数，结果仍为整数
    else:  # 0 除以一位整数
        num1 = 0
        num2 = random.randint(1, 9)
    
    result = num1 // num2  # 计算结果
    
    options = set([result])
    while len(options) < 4:
        wrong_answer = random.randint(0, 99)
        if wrong_answer != result:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(result)]  # 找到正确答案的选项
    
    question = f"{num1} ÷ {num2} = ?"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [26]:
data = [generate_math_div_u7() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

            题目   A   B   C   D 答案
0    0 ÷ 7 = ?   0  29  71  96  A
1  344 ÷ 4 = ?  86  48  31  78  A
2  146 ÷ 2 = ?  83  21  73  57  C
3   42 ÷ 2 = ?  34  45  21  13  C
4    0 ÷ 1 = ?   0  48  84   8  A

### Unit 8 - 除法有余数

Prompt 再帮我出一些小学数学题，整数除以一位整数，题目包括两种类型，一位整数除以以一位整数，两位整数乘以一位整数。要求结果有余数。选项即有商，也有余数。

In [27]:
def generate_math_div_u8():
    question_types = ["one_digit", "two_digit"]
    question_type = random.choice(question_types)
    
    if question_type == "one_digit":
        num1 = random.randint(2, 9)  # 一位整数
        num2 = random.randint(1, 9)
    else:  # 两位整数
        num1 = random.randint(10, 99)
        num2 = random.randint(2, 9)
    
    while num1 % num2 == 0:  # 确保有余数
        num1 = random.randint(10, 99) if question_type == "two_digit" else random.randint(2, 9)
        num2 = random.randint(1, 9)
    
    quotient = num1 // num2  # 商
    remainder = num1 % num2  # 余数
    result = f"{quotient}...{remainder}"  # 格式化为“商...余数”
    
    options = set([result])
    while len(options) < 4:
        wrong_quotient = random.randint(0, 9)
        wrong_remainder = random.randint(0, num2 - 1)
        wrong_answer = f"{wrong_quotient}...{wrong_remainder}"
        if wrong_answer != result:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(result)]  # 找到正确答案的选项
    
    question = f"{num1} ÷ {num2} = ? (商...余数)"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [29]:
data = [generate_math_div_u8() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

              Question Option_A Option_B Option_C Option_D Answer
0  26 ÷ 3 = ? (商...余数)    1...2    3...2    8...2    2...2      C
1   4 ÷ 8 = ? (商...余数)    7...1    1...0    7...4    0...4      D
2   5 ÷ 8 = ? (商...余数)    0...5    3...2    0...3    1...4      A
3  94 ÷ 5 = ? (商...余数)    2...3    3...0    9...3   18...4      D
4   7 ÷ 5 = ? (商...余数)    1...2    7...4    4...1    6...4      A

### Unit 9 - 乘法：三位数 * 一位数

Prompt: 再帮我出一些小学数学题，三位数乘以一位整数。

In [30]:
def generate_math_multi_u9():
    num1 = random.randint(100, 999)  # 三位数
    num2 = random.randint(1, 9)  # 一位整数
    result = num1 * num2  # 计算结果
    
    options = set([result])
    while len(options) < 4:
        wrong_answer = random.randint(result - 100, result + 100)
        if wrong_answer != result and wrong_answer > 0:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(result)]  # 找到正确答案的选项
    
    question = f"{num1} × {num2} = ?"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [31]:
data = [generate_math_multi_u9() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

      Question  Option_A  Option_B  Option_C  Option_D Answer
0  408 × 7 = ?      2855      2761      2766      2856      D
1  636 × 1 = ?       731       636       574       587      B
2  442 × 7 = ?      3029      3162      3094      3122      C
3  123 × 5 = ?       615       657       604       618      A
4  354 × 7 = ?      2478      2502      2550      2399      A

### Unit 10 - 两位数 * 两位数

In [34]:
def generate_math_multi_u10():
    num1 = random.randint(10, 99)  # 三位数
    num2 = random.randint(10, 99)  # 一位整数
    result = num1 * num2  # 计算结果
    
    options = set([result])
    while len(options) < 4:
        wrong_answer = random.randint(result - 100, result + 100)
        if wrong_answer != result and wrong_answer > 0:
            options.add(wrong_answer)
    
    options = list(options)
    random.shuffle(options)
    
    correct_option = "ABCD"[options.index(result)]  # 找到正确答案的选项
    
    question = f"{num1} × {num2} = ?"
    return [question, options[0], options[1], options[2], options[3], correct_option]

In [35]:
data = [generate_math_multi_u10() for _ in range(5)]
df = pd.DataFrame(data, columns=["Question", "Option_A", "Option_B", "Option_C", "Option_D", "Answer"])
print(df)

      Question  Option_A  Option_B  Option_C  Option_D Answer
0  91 × 39 = ?      3549      3482      3592      3587      A
1  24 × 30 = ?       629       720       708       786      B
2  65 × 23 = ?      1495      1493      1587      1517      A
3  43 × 93 = ?      3999      4048      4006      4036      A
4  71 × 58 = ?      4044      4164      4118      4103      C

# 写入数据库

In [157]:
import json
import pandas as pd

In [158]:
# 读取 CSV 文件
df_q_template = pd.read_csv("t_question_202501302121.csv")
df_t_template = pd.read_csv("t_text_content_202501302124.csv")
df_q = df_q_template.iloc[0:0]
df_t = df_t_template.iloc[0:0]

In [159]:
df_q

Empty DataFrame
Columns: [id, question_type, subject_id, score, grade_level, difficult, correct, info_text_content_id, create_user, status, create_time, deleted]
Index: []

In [160]:
df_t

Empty DataFrame
Columns: [id, content, create_time]
Index: []

In [161]:
df

      Question  Option_A  Option_B  Option_C  Option_D Answer
0  91 × 39 = ?      3549      3482      3592      3587      A
1  24 × 30 = ?       629       720       708       786      B
2  65 × 23 = ?      1495      1493      1587      1517      A
3  43 × 93 = ?      3999      4048      4006      4036      A
4  71 × 58 = ?      4044      4164      4118      4103      C

In [162]:
df_q_create_time = df_q_template.iloc[-1, -2]
df_t_create_time = df_t_template.iloc[-1, -1]

In [163]:
df_q_id = 2
df_t_id = 2

for row in df.itertuples(index=True, name="Row"):

    # question
    new_row = {"id": df_q_id, 
               "question_type": 1, 
               "subject_id": 1, 
               "score": 10,
               "grade_level": 1, 
               "difficult":2,
               "correct": row.Answer, 
               "info_text_content_id": df_q_id, 
               "create_user": 2, 
               "status": 1, 
               "create_time": df_q_create_time, 
               "deleted": 0}

    df_q_id = df_q_id + 1
    
    df_q_tmp = pd.DataFrame([new_row])  # 创建单行 DataFrame
    df_q = pd.concat([df_q, df_q_tmp], ignore_index=True)  # 追加数据

    # ------------------------------------------------------------------------------
    # context 
    # 解析 JSON
    new_str = json.loads(json_str)
    
    new_str["titleContent"] = row.Question
    new_str["correct"] = row.Answer
    new_str["analyze"] = "<p>无</p><br/>"
    
    # 目标 list
    a = list(row[2:6])
    print(a)
    # 使用 zip() 批量赋值
    new_str["questionItemObjects"] = [
        {**item, "content": str(content)}  # 确保 content 是字符串
        for item, content in zip(new_str["questionItemObjects"], a)
    ]
    
    # 转换回 JSON 字符串
    modified_json_str = json.dumps(new_str, ensure_ascii=False)

    print(modified_json_str)
    new_row = {"id": df_t_id, 
               "content": modified_json_str, 
               "create_time": df_t_create_time}

    df_t_id = df_t_id + 1
    
    df_t_tmp = pd.DataFrame([new_row])  # 创建单行 DataFrame
    df_t = pd.concat([df_t, df_t_tmp], ignore_index=True)  # 追加数据

[3549, 3482, 3592, 3587]
{"titleContent": "91 × 39 = ?", "analyze": "<p>无</p><br/>", "questionItemObjects": [{"prefix": "A", "content": "3549", "score": null, "itemUuid": null}, {"prefix": "B", "content": "3482", "score": null, "itemUuid": null}, {"prefix": "C", "content": "3592", "score": null, "itemUuid": null}, {"prefix": "D", "content": "3587", "score": null, "itemUuid": null}], "correct": "A"}
[629, 720, 708, 786]
{"titleContent": "24 × 30 = ?", "analyze": "<p>无</p><br/>", "questionItemObjects": [{"prefix": "A", "content": "629", "score": null, "itemUuid": null}, {"prefix": "B", "content": "720", "score": null, "itemUuid": null}, {"prefix": "C", "content": "708", "score": null, "itemUuid": null}, {"prefix": "D", "content": "786", "score": null, "itemUuid": null}], "correct": "B"}
[1495, 1493, 1587, 1517]
{"titleContent": "65 × 23 = ?", "analyze": "<p>无</p><br/>", "questionItemObjects": [{"prefix": "A", "content": "1495", "score": null, "itemUuid": null}, {"prefix": "B", "content": "1493", "score": null, "itemUuid": null}, {"prefix": "C", "content": "1587", "score": null, "itemUuid": null}, {"prefix": "D", "content": "1517", "score": null, "itemUuid": null}], "correct": "A"}
[3999, 4048, 4006, 4036]
{"titleContent": "43 × 93 = ?", "analyze": "<p>无</p><br/>", "questionItemObjects": [{"prefix": "A", "content": "3999", "score": null, "itemUuid": null}, {"prefix": "B", "content": "4048", "score": null, "itemUuid": null}, {"prefix": "C", "content": "4006", "score": null, "itemUuid": null}, {"prefix": "D", "content": "4036", "score": null, "itemUuid": null}], "correct": "A"}
[4044, 4164, 4118, 4103]
{"titleContent": "71 × 58 = ?", "analyze": "<p>无</p><br/>", "questionItemObjects": [{"prefix": "A", "content": "4044", "score": null, "itemUuid": null}, {"prefix": "B", "content": "4164", "score": null, "itemUuid": null}, {"prefix": "C", "content": "4118", "score": null, "itemUuid": null}, {"prefix": "D", "content": "4103", "score": null, "itemUuid": null}], "correct": "C"}

In [164]:
df_t

   id                                            content          create_time
0   2  {"titleContent": "91 × 39 = ?", "analyze": "<p...  2025-01-30 21:12:51
1   3  {"titleContent": "24 × 30 = ?", "analyze": "<p...  2025-01-30 21:12:51
2   4  {"titleContent": "65 × 23 = ?", "analyze": "<p...  2025-01-30 21:12:51
3   5  {"titleContent": "43 × 93 = ?", "analyze": "<p...  2025-01-30 21:12:51
4   6  {"titleContent": "71 × 58 = ?", "analyze": "<p...  2025-01-30 21:12:51

In [165]:
df_q.to_csv("question.csv", encoding="utf-8", index=False)
df_t.to_csv("context.csv", encoding="utf-8", index=False)

In [71]:
# JSON 字符串
json_str = '''{
    "titleContent": "1 + 1 = (?)",
    "analyze": "<p>无</p><br/>",
    "questionItemObjects": [
        {"prefix": "A", "content": "1", "score": null, "itemUuid": null},
        {"prefix": "B", "content": "2", "score": null, "itemUuid": null},
        {"prefix": "C", "content": "3", "score": null, "itemUuid": null},
        {"prefix": "D", "content": "4", "score": null, "itemUuid": null}
    ],
    "correct": "B"
}'''

In [ ]:
a = [1, 2, 3, 4]

In [78]:
# 解析 JSON
new_str = json.loads(json_str)

new_str["titleContent"]: "1 + 2 = (?)"
new_str["correct"] = "C"
new_str["analyze"] = "<p>无</p><br/>"

# 目标 list
a = [1, 2, 3, 4]

# 使用 zip() 批量赋值
new_str["questionItemObjects"] = [
    {**item, "content": str(content)}  # 确保 content 是字符串
    for item, content in zip(new_str["questionItemObjects"], a)
]

# 转换回 JSON 字符串
modified_json_str = json.dumps(new_str, indent=4, ensure_ascii=False)

print(modified_json_str)

{
    "titleContent": "1 + 1 = (?)",
    "analyze": "<p>无</p><br/>",
    "questionItemObjects": [
        {
            "prefix": "A",
            "content": "1",
            "score": null,
            "itemUuid": null
        },
        {
            "prefix": "B",
            "content": "2",
            "score": null,
            "itemUuid": null
        },
        {
            "prefix": "C",
            "content": "3",
            "score": null,
            "itemUuid": null
        },
        {
            "prefix": "D",
            "content": "4",
            "score": null,
            "itemUuid": null
        }
    ],
    "correct": "C"
}